.center-list{
    text-align: center;
    font-size: 1.64rem;
}

.resumeBtn{
    background-color: var(--darkorange);
    border: 9px outset var(--darkorange);
    padding: 1px 15px;
}
.resumeBtn:hover{    
    background-color: var(--bleulapis);
    border: 9px inset red;
    padding: 3px 17px;
}